{
  "bracketSpacing": true,
  "endOfLine": "auto",
  "jsxBracketSameLine": false,
  "printWidth": 80,
  "quoteProps": "consistent",
  "react/jsx-max-props-per-line": [3, { "when": "always" }],
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
